@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
body header {
  background-color: white;
  box-shadow: 0px 5px 10px -3px rgba(4, 4, 83, 0.2);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
}
body header section.logo {
  width: 90px;
  height: 40px;
  margin: 28px 15vw;
}
body header nav {
  display: flex;
  margin: 32px;
}
body header nav ul {
  display: flex;
  gap: 40px;
}
body header nav ul li {
  padding: 4px 8px;
  list-style: none;
  position: relative;
}
body header nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
}
body header nav ul li .border {
  position: absolute;
  width: 8px;
  height: 8px;
}
body header nav ul li .vec1 {
  top: 0;
  left: 0;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
body header nav ul li .vec2 {
  top: 0;
  right: 0;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
body header nav ul li .vec3 {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
body header nav ul li .vec4 {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
body header nav ul li:hover .vec1 {
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
body header nav ul li:hover .vec2 {
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}
body header nav ul li:hover .vec3 {
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
}
body header nav ul li:hover .vec4 {
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}
body header nav ul #currPage a {
  font-weight: bold;
}
body header nav ul #currPage .vec1 {
  top: 0;
  left: 0;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
body header nav ul #currPage .vec2 {
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}
body header nav ul #currPage .vec3 {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
}
body header nav ul #currPage .vec4 {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}
body header .btn {
  width: 56px;
  height: 56px;
  display: none;
  padding-top: 7px;
  padding-right: 3px;
}
body header .btn .hamburger {
  font-size: 40px;
}
body header .btn .hamburger:active .filter {
  display: block;
}
body header .btn .close {
  font-size: 40px;
}
body .filter {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

@media screen and (max-width: 910px) {
  body header {
    position: relative;
    position: sticky;
    align-items: center;
  }
  body header nav {
    width: 100vw;
    background-color: #ffffff;
    position: absolute;
    margin: 0;
    top: 96px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(204, 204, 204, 0.5);
  }
  body header nav ul {
    margin: 20px 0;
  }
  body header nav ul li {
    text-align: center;
  }
  body header nav ul li a {
    font-size: 20px;
  }
  body header .btn {
    display: flex;
    margin-left: auto;
    margin-right: 10vw;
    background-color: #ffffff;
    border-radius: 8px;
    border: 0;
  }
  body header .btn:hover {
    cursor: pointer;
  }
  body header .btn .material-symbols-outlined {
    /* 共用樣式 */
  }
  body header .btn .hamburger {
    /* 初始顯示的樣式（菜單圖示） */
  }
  body header .btn .close {
    display: none; /* 初始隱藏的樣式（關閉圖示） */
  }
}
body footer {
  background-image: url("../assets/PC/footer-bg-lg.png");
  background-size: cover;
  padding: 80px 15vw;
  display: flex;
  align-items: center;
}
body footer .logo {
  width: 320px;
}
body footer .logo img {
  width: 120px;
  height: auto;
}
body footer .logo h3 {
  margin: 24px 0;
  font-size: 20px;
  font-weight: 400;
}
body footer .logo a {
  font-size: 20px;
  font-weight: 400;
  color: #919191;
  text-decoration: none;
}
body footer .links {
  margin-left: auto; /* 右對齊 */
}
body footer .links .links-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body footer .links .links-list li {
  list-style: none;
}
body footer .links .links-list li a {
  text-decoration: none;
}
body footer .links .links-list li a #form {
  background-color: black;
  transition: all 0.2s ease;
}
body footer .links .links-list li a #form p {
  color: white;
}
body footer .links .links-list li a #form:hover {
  background-color: rgba(0, 0, 0, 0.7019607843);
}
body footer .links .links-list li a .link {
  background-color: white;
  border: 1px solid #C1C1C1;
  border-radius: 8px;
  width: 306px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 13px;
  transition: all 0.2s ease;
}
body footer .links .links-list li a .link p {
  color: black;
  display: inline-grid;
  text-align: center;
  justify-items: center;
  margin: 21px 0;
}
body footer .links .links-list li a .link:hover {
  background-color: rgba(0, 0, 0, 0.0745098039);
}

@media screen and (max-width: 910px) {
  body footer {
    background-image: url("../assets/phone/footer-bg-sm.png");
    background-size: cover;
    flex-direction: column;
    justify-content: center;
  }
  body footer .logo {
    display: flex;
    flex-direction: column;
    width: 240PX;
    justify-content: center;
  }
  body footer .logo img {
    margin: auto;
  }
  body footer .logo h3 {
    font-size: 16px;
    margin: 24px auto;
  }
  body footer .logo a {
    font-size: 16px;
    margin: auto;
    margin-bottom: 40px;
  }
  body footer .links {
    margin: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body main section.quote-area {
  background-color: #FAFAFA;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main section.quote-area div.main-quote {
  width: 45vw;
  min-width: 680px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
body main section.quote-area div.main-quote h2 {
  line-height: 28.8px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  position: relative;
}
body main section.quote-area div.main-quote h2 br {
  margin-bottom: 16px;
}
body main section.quote-area div.main-quote h2 .mark {
  background: url("../assets/mark.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 100%;
  padding-bottom: 5px;
  white-space: nowrap;
}
body main section.quote-area div.main-quote .left-quote {
  align-self: flex-start;
}
body main section.quote-area div.main-quote .right-quote {
  align-self: flex-end;
}
body main section.quote-area .experience {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
body main section.quote-area .experience h3, body main section.quote-area .experience h4 {
  text-align: center;
  font-weight: normal;
}
body main section.quote-area .experience h3 {
  color: #5B5B5B;
}
body main section.quote-area .experience h4 {
  color: #3B3B3B;
}
body main section.quote-area .experience .border-bottom {
  margin: 4px 0 8px 0;
  border-bottom: 2px solid #C1C1C1;
  width: 24px;
}
body main section.quote-area .experience .twoB, body main section.quote-area .experience .twoC {
  width: 16vw;
  min-width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section.workcards {
  padding: 120px 10vw;
}
body main section.workcards div.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 80px;
}
body main section.workcards div.cards div.card div.image img {
  width: 100%;
  border-radius: 5px;
}
body main section.workcards div.cards div.card div.info {
  margin: 16px;
}
body main section.workcards div.cards div.card div.info p.title {
  font-size: 28px;
  margin-bottom: 8px;
  font-weight: bold;
}
body main section.workcards div.cards div.card div.info p.detail {
  font-size: 16px;
  color: #919191;
}
body main section.workcards div.cards div.card div.tags {
  margin-top: 8px;
  margin: 0 16px;
  display: flex;
  flex-wrap: wrap;
}
body main section.workcards div.cards div.card div.tags a {
  color: black;
  text-decoration: none;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 16px;
  padding: 4px 12px;
  margin-right: 16px;
}
body main section.workcards .pagination {
  padding: 72px 0 0 0;
  display: flex;
  gap: 16px;
  justify-content: center;
}
body main section.workcards .pagination button {
  cursor: pointer;
  border: 0;
  background-color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: black;
  width: 40px;
  height: 40px;
  padding: 2px 13px;
  border-radius: 4px;
  transition: all 0.2s ease;
}
body main section.workcards .pagination button:hover {
  background-color: rgba(206, 206, 206, 0.2);
  color: black;
}
body main section.workcards .pagination .currPage, body main section.workcards .pagination .currPage:hover {
  color: white;
  background-color: black;
}

@media screen and (max-width: 1298px) {
  body main section.quote-area .main-quote {
    min-width: 300px !important;
  }
  body main section.quote-area .main-quote div h2 {
    font-size: 20px;
  }
  body main section.quote-area .main-quote div h2 .media-screen::before {
    content: "\a";
    white-space: pre;
  }
  body main section.quote-area .main-quote img {
    align-self: center !important;
  }
  body main section.quote-area .experience {
    margin: 40px 0 40px 0;
    flex-direction: column;
  }
  body main section.workcards {
    margin: 120px 0;
    padding: 0;
  }
  body main section.workcards div.cards {
    max-width: 100%;
    margin: 0 12px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 48px;
  }
  body main section.workcards div.cards div.card {
    min-width: 351px;
    max-width: 100%;
    margin: 0 auto;
  }
  body main section.workcards div.cards div.card div.image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  body main section.workcards div.cards div.card div.info {
    width: 100%;
  }
  body main section.workcards div.cards div.card div.tags a {
    margin-right: 8px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}/*# sourceMappingURL=style.css.map */