* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    margin-bottom: 32px;
}
h2 {
    font-size: 24px;
    text-align: right;
}
h1, h2, p {
    // font-weight: bold;
    line-height: 1.5;
}
span {
    color: #cd5e3c;
    text-decoration: underline;
}
body {
    div.container {
        width: 900px;
        margin: auto;
        background-color: #a2d7dd;
        border-radius: 15px;
        div.header {
            // border: 1px solid black;
            background-color: white;
            margin: auto;
            padding: 16px 30px;
        }
        div.content {
            // border: 1px solid red;
            margin: auto;
            padding: 24px 30px;
            
            p.paragraph1 {
                // border: 1px solid green;
                margin-bottom: 24px;
                text-indent: 36px;
            }
            p.paragraph2 {
                // border: 1px solid green;
                text-indent: 36px;
                margin-bottom: 24px;
            }
            div.btn {
                // border: 1px solid green;
                display: flex;
                justify-content: right;
                a {
                    width: 120px;
                    background-color: black;
                    padding: 12px 0;
                    color: white;
                    font-size: 16px;
                    text-align: center;
                    text-decoration: none;
                    &:hover {
                        background-color: #cd5e3c;
                    }
                }
                
            }
        }
    }
}